---
import { Card } from 'accessible-astro-components';
import BackButton from '../../components/BackButton.astro';
import PrimaryLayout from '../../layouts/PrimaryLayout.astro';

const posts = await Astro.glob('./**/*.mdx')
---

<PrimaryLayout>
  <BackButton />

  <div class='flex flex-col justify-center items-center w-screen h-[90vh]'>
    <h1>Blog Posts</h1>

    <div class='not-prose'>
      <ul class='flex flex-row items-center justify-center w-screen'>
        {
          posts.map((post) => (
            <li class='m-3'>
              <Card
                url={`/posts/${post.frontmatter.slug}`}
                title={post.frontmatter.title}
                footer={`Posted by ${post.frontmatter.author} on ${post.frontmatter.date}`}
                img={post.frontmatter.background ?? '/post_background.jpg'}
              >
                {post.frontmatter.description}
              </Card>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</PrimaryLayout>
